body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

.title_page {
  font-weight: 500;
  text-align: center;
}

.container {
  display: flex;
  width: inherit;
  margin: 40px 60px 20px 60px;
}

.place_for_input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 160px;
}

.input_add {
  border: 1px solid rgb(0, 0, 0);
  margin: 10px;
  height: 40px;
  width: 200px;
  background-color: rgb(227, 227, 227);
  color: black;
}

.btn_add {
  border: 1px solid rgb(0, 0, 0);
  height: 40px;
  width: 50px;
  margin-right: 5px;
  background-color: #eee;
  color: #444;
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  transition: 0.7s;
}

.btn_add:hover {
  background-color: #ccc;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  border: 1px solid rgb(0, 0, 0);
  display: none;
  position: absolute;
  margin-top: 1px;
  background-color: #f1f1f1;
  min-width: 100px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 7px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ccc;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #ccc;
}

.btn_clear {
  border: 1px solid rgb(0, 0, 0);
  height: 40px;
  width: 50px;
  background-color: #eee;
  color: #444;
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  transition: 0.7s;
}

.btn_clear:hover {
  background-color: #ccc;
}

.place_todo {
  width: 70%;
}

.accordion {
  background-color: #eee;
  color: #444;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.7s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.in_li {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ul {
  flex-direction: column-reverse;
}

.li {
  border-bottom: 1px solid rgb(0, 0, 0);
  padding: 10px;
  padding-left: 30px;
  list-style-type: none;
  margin: 2px;
}

.ul li:hover {
  margin: 10px;
}

.div_btn {
  height: 30px;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  font-size: 16px;
  border: none;
  margin-right: 5px;
  font-size: 14px;
  font-weight: 700;
}

.div_btn:hover {
  background-color: #ccc;
}

.div {
  display: flex;
  justify-content: flex-end;
}

.btn_delete:hover::after {
  content: attr(data-title);
  position: absolute;
  z-index: 1;
  background: rgba(254, 254, 254, 0.7);
  font-size: 12px;
  font-weight: 700;
  padding: 5px;
  margin-top: 15px;
  border: 1px solid rgb(0, 0, 0);
}
