body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

.title_page {
  font-weight: 500;
  text-align: center;
}

.container {
  display: flex;
  width: inherit;
  margin: 40px 40px 20px 40px;
}

.place_for_input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 160px;
}

.input_add {
  border: none;
  margin: 10px;
  height: 40px;
  background-color: rgb(227, 227, 227);
  color: black;
}

.btn_add {
  height: 40px;
  background-color: #eee;
  color: #444;

  border: none;
}

.btn_add:hover {
  background-color: #ccc;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ccc;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #ccc;
}

.btn_clear {
  height: 40px;
  background-color: #eee;
  color: #444;
  border: none;
}

.btn_clear:hover {
  background-color: #ccc;
}

.place_todo {
  width: 70%;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-bottom: 10px;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.in_li {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ul {
  flex-direction: column-reverse;
}

.li {
  padding: 10px;
  list-style-type: none;
}

.ul li:hover {
  margin: 10px;
}

.div_btn {
  height: 30px;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  font-size: 16px;
  border: none;
  margin-right: 5px;
}

.div_btn:hover {
  background-color: #ccc;
}

.div {
  display: flex;
  justify-content: flex-end;
}

/* .btn_completed {
  height: 30px;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  font-size: 16px;
  border: none;
  margin: 5px;
}

.btn_completed:hover {
  background-color: #ccc;
}

.btn_set {
  height: 30px;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  font-size: 16px;
  border: none;
  margin: 5px;
}

.btn_set:hover {
  background-color: #ccc;
} */
